<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pago Exitoso</title>
    </head>
    <body>
        <h1>Pago Exitoso</h1>
        <p>¡Gracias por tu compra!</p>
        <p>Detalle de la transacción:</p>
        <ul>
            <li>Orden de compra: {{ response.buy_order }}</li>
            <li>Monto pagado: {{ response.amount }}</li>
            <li>Fecha y hora: {{ response.transaction_date }}</li>
        </ul>
    </body>
</html>
